.food-article {
    border: 5px solid rgb(255, 145, 0);
    border-radius: 100px;
    display: inline-block;
    width: 450px;
    height: 110px;
    position: relative;
    margin: 40px;
    direction: rtl;
    padding: 5px;
    float: right;
}
  
.article-food-image {
    border: 20px solid rgb(255, 145, 0);
    border-radius: 50%;
    position: absolute;
    top: -40px;
    right: -50px;
    width: 150px;
    display: inline-block;
}
.article-desc{
  margin-right: 150px;
  margin-left: 150px;
  position: relative;
}
.article-food-name {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: bold;
}
  
.article-food-description {
    font-size: 15px;
    margin-top: 5px;
}
  
.article-food-count {
    font-size: 70px;
    background-color: orangered;
    padding: 5px;
    border-radius: 50%;
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 15px;
    left: 20px;
    text-align: center;
}
.article-food-price {
    font-size: 20px;
    position: absolute;
    bottom: -50px;
    left: 0px;
    top: 77.600px;

}
.unavailable{
    opacity: 0.4;
}